body {
    background-color: #000;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar_navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px; 
}

.sidebar_navigation .logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar_navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 10px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}

/* estilizando a aba sua biblioteca */

.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    /* junto com o display flex usamos outras propriedades como o justify-content: ; para deixar na posição que queremos */
    justify-content: space-between;
    flex-direction: column; 
    /* tb usando junto com o display flex, e diz assim "esse posicionamento vai ficar flexível para qual direção?" */
        /* o column serve para separar eles em colunas, quando vemos lá no devtools, podemos notar que ele ta "separado em colunas totalizando 4, que são as 4 div e setion que temos dentro do library*/
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
        /* serve para ele não ficar grudado lá em cima */
}

/* seguindo a ordem */

/* colocamos .library .library_content porque precisamos específicar que o library_content esta dentro de outra classe, se não colocarmos da maneira correta (.library .library_content) ele não irá aplicar corretamente */
.library .library_content {
    display: flex;
    justify-content: space-between;
}

/* estilizando somente o button */
.library .library_button {
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0;
    font-size: 14px;
    /* antes ela tinha colocado 1rem, mas mudou porque é assunto da próxima aula. */
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

/* agora vamos arrumar os icons, que não estao bem centralizado utilizando o fa */
.library .library_button .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

/* agora vamos arrumar o plus, utilizando o fa-plus
 .library .library_button .fa-plus {
    margin: 24px 10px;
} esse deu errado, porque ele esta dentro do library_content e não library_button */

.library .library_content .fa-plus {
    margin: 24px 10px;
}

